@model ProductViewModel

<div class="container pt-5">
    <div class="card border-info m-auto mb-3" style="max-width:600px">
        <div class="card-header text-center"><h3>Create Product</h3></div>
        <div class="card-body">
            <div class="card-text">
                <form method="post">
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.Title"></label>
                            <input asp-for="Product.Title" type="text" class="form-control" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-1 mt-1 row p-1">
                            <label asp-for="Product.Description"></label>
                            <textarea asp-for="Product.Description" class="form-control"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.ISBN"></label>
                            <input asp-for="Product.ISBN" type="text" class="form-control" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.Author"></label>
                            <input asp-for="Product.Author" type="text" class="form-control" />
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.ListPrice"></label>
                            <input asp-for="Product.ListPrice" type="number" class="form-control" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.Price"></label>
                            <input asp-for="Product.Price" type="number" class="form-control" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.Price50"></label>
                            <input asp-for="Product.Price50" type="number" class="form-control" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.Price100"></label>
                            <input asp-for="Product.Price100" type="number" class="form-control" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.CategoryId"></label>
                            <select asp-for="Product.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Product.ImageUrl"></label>
                        <input type="file" type="text" class="form-control" />
                            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-info form-control">Create</button>
                            </div>
                            <div class="col-6">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-primary form-control">Back to list</a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}